@model List<Catergory>

    <div class="container">
        <div class="row pt-5 pb-3">
            <div class="col-6">
                <h2> Caterogy List </h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Catergory" asp-action="Create" class="btn btn-primary rounded"> <i class="bi bi-plus"></i> Create a List</a>

            </div>

        </div>

<table class="table table-border table-striped shadow rounded">
   <thead>
    <tr>
        <th>
            Catergory 
        </th>
        <th>
            Display Order
        </th>
        <th>
        Actions
        </th>
    </tr>
</thead>
<tbody>
        @foreach (var obj in Model.OrderBy(u => u.Display_Order))
        {
        <tr>
            <td>@obj.Name</td>
            <td>@obj.Display_Order</td>
            <td>
                <div class="w-50 btn-group rounded gap-5" role="group">
                      <a asp-controller="Catergory" asp-action="Edit" class="btn btn-primary rounded ">
                                <i class="bi bi-pencil-square"></i>
                            Edit </a>
                      <a asp-controller="Catergory" asp-action="Delete" class="btn btn-danger rounded ">
                                <i class="bi bi-trash3"></i>
                          Delete
                      </a>
                </div>

            </td>
        </tr>
        }

</tbody>
</table>
</div>