@page
@model ProductManagement.Pages.Catergories.EditModel

<form method="post">
    <input type="hidden" asp-for="Catergory.ID" />
    <div class="border p-4 mt-5 shadow rounded">
        <div class="row mt-2">
            <h2> Edit Catergory </h2>
            <hr />
        </div>
        @* <div asp-validation-summary="ModelOnly"></div> *@
        <div class=" row p-1 mb-3">
            <label asp-for="Catergory.Name" class="mb-2 p-0"> </label>
            <input asp-for="Catergory.Name" class="form-control rounded" />
            <span asp-validation-for="Catergory.Name" class="text-danger"> </span>

        </div>

        <div class="row p-1 mb-3">
            <label class="mb-2 p-0" asp-for="Catergory.Display_Order"> </label>
            <input asp-for="Catergory.Display_Order" class="form-control rounded" />
            <span asp-validation-for="Catergory.Display_Order" class="text-danger"> </span>

        </div>
        <button type="submit" class="btn btn-primary rounded"> Update </button>
        <a class="btn btn-secondary" asp-page="/Catergories/index"> <i class="bi bi-arrow-left-circle"></i> Back to List</a>

    </div>
</form>

@section Scripts {
    @{

        <partial name="_ValidationScriptsPartial" />
    }
}


